.form {
	border: 1px solid var(--desktopHeadercolor);
	border-radius: 3px;
	display: none;
	align-items: center;
}

.searchInput {
	border: none;
	font-size: 1.6rem;
	height: 46px;
	padding: 0 1.6rem;
	min-width: 150px;
	max-width: 285px;
	width: 100%;
}
.searchButton {
	background-color: var(--desktopHeadercolor);
	border: none;
	cursor: pointer;
	display: inline-block;
	height: 46px;
	padding: 0 1.6rem;
}
.searchIcon {
	color: var(--mainBackground);
	height: 24px;
	width: 24px;
}

@media (min-width: 800px) {
	.form {
		display: flex;
	}
}
