.buttonsContainer {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}
.buttonsContainer :is(button, a) {
	background-color: var(--logoMainColor);
	border: none;
	border-radius: 5px;
	color: var(--mainBackground);
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	margin-top: 1rem;
	padding: 1rem;
	text-align: center;
}
.productHeading {
	font-size: 2rem;
}
.productTextContainer :is(h3, p) {
	margin-bottom: 1rem;
}
.descriptionContainer {
	padding: 0 1rem 1rem 1rem;
}
.productImage {
	object-fit: cover;
	width: 100%;
}
.productTextContainer {
	text-align: center;
}
.productView {
	background-color: var(--mainBackground);
	border-radius: 10px;
	min-width: 250px;
	max-width: 600px;
	width: 100%;
}
.productSection {
	background-color: var(--productsSectionBackground);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 1rem;
}

@media (min-width: 768px) {
	.descriptionContainer {
		padding: 0 2rem 2rem 2rem;
	}
}
