.copyrightContainer {
	background-color: var(--productsSectionBackground);
	padding: 2rem 0;
	text-align: center;
}
.expandableMenuButton {
	background-color: var(--logoMainColor);
	border: none;
	border-radius: 7px;
	color: var(--mainBackground);
	cursor: pointer;
	display: inline-block;
	font-size: 1.6rem;
	padding: 0.8rem 1.5rem;
}
.expandableMenuContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
}
.footerContainer {
	display: flex;
	flex-direction: column;

	padding: 2rem 1rem;
}
.footerNav {
	margin-bottom: 3rem;
}
.footerNavList {
	display: none;
}
.footerNavListActive {
	display: block;
}
.footerNavItem {
	border-bottom: solid 1px var(--footerLinksBorder);
	list-style: none;

	padding: 1rem 0;
	width: 100%;
}

.inputContainer {
	border: solid 1px var(--footerLinksBorder);
	display: flex;
	border-radius: 7px;
	overflow: hidden;
	margin: 1.5rem 0;
}

.newsletterButton {
	background-color: var(--logoMainColor);
	border: none;
	color: var(--mainBackground);
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 1.6rem;
	padding: 0.8rem 1.5rem;
}
.newsletterInput {
	border: 1px solid transparent;
	flex: 3;
	font-size: 1.6rem;
	outline: none;
	padding: 0.8rem;
}
.socialIcons {
	margin: 1rem 0;
}
.socialIconsList {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

@media (min-width: 750px) {
	.copyrightContainer {
		background-color: var(--productsSectionBackground);
		text-align: center;
	}
	.expandableMenuButton {
		display: none;
	}
	.expandableMenuContainer {
		padding-top: 0;
	}
	.footerContainer {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.footerNavItem {
		border-bottom: none;
	}
	.footerNavList {
		display: block;
	}
}
@media (min-width: 900px) {
	.footerContainer {
		padding: 2rem 1.5rem;
	}
}
