.desktopHeaderContainer {
	display: none;
}

@media (min-width: 800px) {
	.desktopHeaderContainer {
		display: flex;
		padding: 0 1.5rem;
	}
}
@media (min-width: 1200px) {
	.desktopHeaderContainer {
		padding: 0;
	}
}
