.mobileHeaderContainer {
	box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	position: relative;
	width: 100%;
}
.headerContainer{
	display: flex;
	align-items: center;
}
.linksContainer {
	display: flex;
}
.anchorLinkList {
	display: flex;
}
@media (min-width: 800px) {
	.mobileHeaderContainer {
		display: none;
	}
}
