.mobileHeaderContainer {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
}
.linksContainer {
	display: flex;
}
.anchorLinkList {
	display: flex;
}
@media (min-width: 800px) {
	.mobileHeaderContainer {
		display: none;
	}
}
